<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="description" content="Website quản lý tiến độ học tập giúp các bạn sinh viên đại học Văn Lang quản lý tiến độ học tập của mình.">
    <meta name="keywords" content="tiến độ học tập, quản lý tiến độ, đại học Văn Lang">
    <meta name="author" content="RetroTeam">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/app-assets/img/ico/favicon.ico")">
    <script src="@Url.Content("~/app-assets/vendors/js/pace/pace.min.js")" data-pace-options='{ "ajax": false }'></script>
    <link href="@Url.Content("~/app-assets/vendors/js/pace/themes/red/pace-theme-minimal.css")" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="@Url.Content("~/app-assets/fonts/feather/style.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/app-assets/fonts/simple-line-icons/style.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/app-assets/fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    @Styles.Render("~/Content/css")
</head>
<body data-col="2-columns" class=" 2-columns ">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
        <div data-active-color="white" data-background-color="black" class="app-sidebar">
            <div class="sidebar-header">
                <div class="logo clearfix">
                    <a href="@Url.Action("Index", "Home", new { Area = "" })" class="logo-text float-left">
                        <div class="logo-img"><img src="@Url.Content("~/app-assets/img/logos/vlu_logo.png")" alt="VLU Logo" /></div><span class="text align-middle"><img src="@Url.Content("~/app-assets/img/logos/vlu_name.png")" class="ml-15" alt="VLU name" width="94" /></span>
                    </a><a id="sidebarToggle" href="javascript:;" class="nav-toggle d-none d-sm-none d-md-none d-lg-block"><i data-toggle="expanded" class="ft-disc toggle-icon"></i></a><a id="sidebarClose" href="javascript:;" class="nav-close d-block d-md-block d-lg-none d-xl-none"><i class="ft-circle"></i></a>
                </div>
            </div>
            <div class="sidebar-content">
                <div class="nav-container">
                    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                        <li class="@(ViewBag.Title == "Trang chủ" ? "active" : "nav-item")">
                            <a href="@Url.Action("Index", "Home", new { Area = "" })"><i class="icon-home"></i><span data-i18n="" class="menu-title">Trang chủ</span></a>
                        </li>
                        @if (User.IsInRole("Faculty"))
                        {
                            <li class="has-sub nav-item">
                                <a><i class="icon-layers"></i><span data-i18n="" class="menu-title">CTĐT</span></a>
                                <ul class="menu-content">
                                    <li class="@(ViewBag.Title == "Xem chương trình đào tạo" ? "active" : "")">
                                        <a href="@Url.Action("Index", "StudyProgram", new { Area = "Faculty" })" class="menu-item">Xem CTĐT</a>
                                    </li>
                                    <li class="@(ViewBag.Title == "Import chương trình đào tạo" ? "active" : "")">
                                        <a href="@Url.Action("Import", "StudyProgram", new { Area = "Faculty" })" class="menu-item">Import CTĐT</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-sub nav-item">
                                <a><i class="icon-book-open"></i><span data-i18n="" class="menu-title">KQ học tập</span></a>
                                <ul class="menu-content">
                                    <li class="@(ViewBag.Title == "Xem kết quả học tập" ? "active" : "")">
                                        <a href="@Url.Action("Index", "StudyResult", new { Area = "Faculty" })" class="menu-item">Xem KQ học tập</a>
                                    </li>
                                    <li class="@(ViewBag.Title == "Tìm kết quả học tập" ? "active" : "")">
                                        <a href="@Url.Action("Search", "StudyResult", new { Area = "Faculty" })" class="menu-item">Tìm KQ học tập</a>
                                    </li>
                                    <li class="@(ViewBag.Title == "Import kết quả học tập" ? "active" : "")">
                                        <a href="@Url.Action("Import", "StudyResult", new { Area = "Faculty" })" class="menu-item">Import KQ học tập</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="has-sub nav-item">
                                <a><i class="icon-note"></i><span data-i18n="" class="menu-title">KQĐK học tập</span></a>
                                <ul class="menu-content">
                                    <li class="@(ViewBag.Title == "Xem kết quả đăng ký học tập" ? "active" : "")">
                                        <a href="@Url.Action("Index", "RegistrationResult", new { Area = "Faculty" })" class="menu-item">Xem KQĐK học tập</a>
                                    </li>
                                    <li class="@(ViewBag.Title == "Tìm kết quả đăng ký học tập" ? "active" : "")">
                                        <a href="@Url.Action("Search", "RegistrationResult", new { Area = "Faculty" })" class="menu-item">Tìm KQĐK học tập</a>
                                    </li>
                                    <li class="@(ViewBag.Title == "Import kết quả đăng ký học tập" ? "active" : "")">
                                        <a href="@Url.Action("Import", "RegistrationResult", new { Area = "Faculty" })" class="menu-item">Import KQĐK học tập</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="@(ViewBag.Title == "Quản lý khoá sinh viên" ? "active" : "nav-item")">
                                <a href="@Url.Action("Index", "StudentCourse", new { Area = "Faculty" })"><i class="icon-user"></i><span data-i18n="" class="menu-title">Khoá</span></a>
                            </li>
                            <li class="@(ViewBag.Title == "Quản lý ngành học" ? "active" : "nav-item")">
                                <a href="@Url.Action("Index", "Major", new { Area = "Faculty" })"><i class="icon-graduation"></i><span data-i18n="" class="menu-title">Ngành</span></a>
                            </li>
                            <li class="@(ViewBag.Title == "Thống kê tiến độ học tập" ? "active" : "nav-item")">
                                <a href="@Url.Action("Index", "ProgressStatistics", new { Area = "Faculty" })"><i class="icon-pie-chart"></i><span data-i18n="" class="menu-title">Thống kê</span></a>
                            </li>
                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <li class="@(ViewBag.Title == "Quản lý người dùng" ? "active" : "nav-item")">
                                <a href="@Url.Action("Index", "User", new { Area = "Admin" })"><i class="icon-user"></i><span data-i18n="" class="menu-title">Quản lý người dùng</span></a>
                            </li>
                        }
                        else
                        {
                            <li class="@(ViewBag.Title == "Tiến độ học tập" ? "active" : "")">
                                <a href="@Url.Action("Index", "LearningProgress", new { Area = "Student" })"><i class="icon-book-open"></i><span data-i18n="" class="menu-title">Tiến độ học tập</span></a>
                            </li>
                            <li class="@(ViewBag.Title == "Thống kê tình hình học tập" ? "active" : "")">
                                <a href="@Url.Action("Index", "Statistics", new { Area = "Student" })"><i class="icon-bar-chart"></i><span data-i18n="" class="menu-title">Thống kê</span></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="sidebar-background"></div>
        </div>


        <nav class="navbar navbar-expand-lg navbar-light bg-faded">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-left"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><span class="d-lg-none navbar-right navbar-collapse-toggle"><a class="open-navbar-container"><i class="ft-more-vertical"></i></a></span><a id="navbar-fullscreen" href="javascript:;" class="mr-2 display-inline-block apptogglefullscreen">
                        <i class="ft-maximize blue-grey darken-4 toggleClass"></i>
                        <p class="d-none">fullscreen</p>
                    </a>
                </div>
                <div class="navbar-container">
                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="mr-2 mt-2">
                                <strong>@User.Identity.Name</strong>
                            </li>
                            <li class="dropdown nav-item mr-0">
                                <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-user-link dropdown-toggle">
                                    <span class="avatar avatar-online"><img id="navbar-avatar" src="@Url.Content("~/assets/images/img_user_avatar.png")" alt="avatar" /></span>
                                    <p class="d-none">User Settings</p>
                                </a>
                                @using (Html.BeginForm("SignOut", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <div aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-right">
                                        <div class="arrow_box_right">
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item"><i class="ft-power mr-2"></i><span>Đăng xuất</span></a>
                                        </div>
                                    </div>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <div class="container-fluid">

                        @RenderBody()

                    </div>
                </div>
            </div>

            <footer class="footer footer-static footer-light">
                <p class="clearfix text-muted text-center px-2"><span>Copyright  &copy; 2022 <span id="pixinventLink" class="text-bold-800 primary darken-2">RETROTEAM </span></span></p>
            </footer>

        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    <noscript>
        <style type="text/css">
            .wrapper {
                display: none;
            }
        </style>
        <font face="arial">
            <p class="text-dark">
                Bạn phải bật JavaScript để sử dụng trang web này. Tuy nhiên, có vẻ như JavaScript đã bị tắt hoặc không được trình duyệt của bạn hỗ trợ. Để sử dụng chế độ xem tiêu chuẩn, hãy bật JavaScript bằng cách thay đổi tùy chọn trình duyệt của bạn, sau đó <a href="">thử lại</a>.
            </p>
        </font>
    </noscript>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sidebarJs")
    @Scripts.Render("~/bundles/vendorJs")
    @RenderSection("scripts", required: false)
</body>
</html>