@using StudyProgressManagement.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="description" content="Website quản lý tiến độ học tập giúp các bạn sinh viên đại học Văn Lang quản lý tiến độ học tập của mình.">
    <meta name="keywords" content="tiến độ học tập, quản lý tiến độ, đại học Văn Lang">
    <meta name="author" content="RetroTeam">
    <title>Đăng nhập - Website quản lý tiến độ học tậpe</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/app-assets/img/ico/favicon.ico")">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="@Url.Content("~/app-assets/fonts/feather/style.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/app-assets/fonts/simple-line-icons/style.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/app-assets/fonts/font-awesome/css/font-awesome.min.css")" rel="stylesheet">
    @Styles.Render("~/Content/css")
</head>
<body data-col="1-column" class=" 1-column  blank-page blank-page">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper">
        <!--Login Page Starts-->
        <section id="login">
            <div class="container-fluid">
                <div class="row full-height-vh">
                    <div class="col-12 d-flex align-items-center justify-content-center login-background">
                        <div class="card px-4 py-2 box-shadow-2 width-400">
                            <div class="card-header text-center">
                                <h4 class="text-uppercase text-bold-500 grey darken-1">Website quản lý tiến độ học tập</h4>
                                <img class="mb-3 w-100" src="@Url.Content("~/assets/images/img_happy_students.svg")" alt="happy-students">
                            </div>
                            <div class="card-body">
                                <div class="card-block">

                                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Login Page Ends-->
    </div>
</body>
</html>