@model StudyProgressManagement.Models.student_course

@{
    Layout = null;
}

@using (Html.BeginForm("AddOrEdit", "StudentCourse", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.id)

    <label>Khoá: </label>
    <div class="form-group">
        @Html.EditorFor(model => model.course, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.course, null, new { @class = "text-danger" })
    </div>

    <label>Ngành: </label>
    <div class="form-group">
        @Html.DropDownList("major_id", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.major_id, "", new { @class = "text-danger" })
    </div>

    <label>Năm học: </label>
    <div class="form-group">
        @Html.EditorFor(model => model.year_study, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.year_study, null, new { @class = "text-danger" })
    </div>

    <div class="form-actions right">
        <button type="submit" class="btn btn-success">
            <i class="icon-note"></i> Lưu
        </button>
    </div>
}